@page
@model NymaEshop2.Pages.Admin.DeleteModel
@{
    ViewData["Title"] = "حذف";
}

<h1>حذف کالا</h1>
<form method="post">
    <dl class="dl-horizontal">
        <dd><label asp-for="Product.NamePD"></label></dd>
        <dt>
            <input asp-for="Product.NamePD" class="form-control" readonly />
            <span asp-validation-for="Product.NamePD"></span>
        </dt>
        <dd><label asp-for="Product.DescriptionPD"></label></dd>
        <dt>
            <textarea asp-for="Product.DescriptionPD" class="form-control" readonly></textarea>
            <span asp-validation-for="Product.DescriptionPD"></span>
        </dt>


        <dd><label>تصویر</label></dd>
        <dt>
            <img src="/images/@(Model.Product.Id).jpg" style="max-width: 200px" />
        </dt>
        <dd></dd>
        <dt>

            <input type="hidden" asp-for="Product.Id" />
            <input type="submit" class="btn btn-danger" value="حذف" />

        </dt>
    </dl>
</form>
